@import url('https://fonts.googleapis.com/css?family=MedievalSharp&display=swap');
html {
    font-family: 'MedievalSharp';
}

body {
    background-image: url(../media/img/Old-Paper-Texture-3.jpg);
    background-repeat: repeat;
    color: rgb(146, 40, 24);
    padding: 0.5%;
    z-index: 0;
    font-weight: bolder;

}

h1 {
    text-align: center;
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.borders {
    border: 5px;
    border-style: double;
    border-color: black;
    padding: 1%;
}

.section-borders {
    border: 5px;
    border-style: double;
}

.header-section {
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.header-section {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.5%;
}

#party {
    transition: 5s;
  
 
}
#party:hover{
    background-image: url(../media/img/boii.png);
    background-repeat: no-repeat;
    background-position: center;

}

.btns:hover {
    transform: scale(1.2);
}

.btns span {
    display: none
}

.btns:hover span {
    display: block;
    position: absolute;
    width: 150px;
    top: 5px;
    right: 40px;
    font-size: 12px;
    padding: 5px;
    border: 1px solid;
    background-image: url(../media/img/Old-Paper-Texture-3.jpg);
    background-size: cover;
}

.hr {
    display: flex;
    justify-content: center;
}

.hr i {
    margin: 0 0.4%;
}

.border-hr {
    border-bottom: 4px;
    border-style: double;
    width: 100%;
}

.cards {
    padding: 2%;
}

.card-out {
    background-image: url("../media/img/UCIUXyr.jpg");
    background-size: cover;
    width: 300px;
    margin: 1%;
    border-radius: 2%;
}
.card-out  span{
   text-transform: capitalize;
}

.card-in {
    padding: 5%;
    flex-direction: column;
}

.title-card {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    margin-bottom: 1em;
}

.title-card i{
   margin-left: 0.5rem;
}

.title-card i:hover {
    filter: contrast(2);
}

.inputs {
    background-color: transparent;
    border: none;
    font-weight: bold;
    width: 80%;
    margin-left: 1rem;
}
.input-px{
    width: 160px;  
}
.input-menor{
    width: 50%;  
}
.label-n-input {
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.6em;
}

.label-n-input input {
    margin-left: 0.5em;
}

.image-char {
    border-radius: 2%;
    width: 130px;
    height: 150px;
}

.center-image-char {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}




.abilities{
    display: flex;
    justify-content:center;
    margin-bottom: 5%;
    margin-top: 5%;
   
}
.abilitie-inside{
    display:flex;
    flex-direction: column;
    margin:1%;
    font-size: 0.9rem;  
    padding-right: 0.4rem;
    padding-left: 0.4rem;
    
}
.inputs-abilities{ 
    margin-top: 0.3rem;

}
.abilitie-inside span{
    max-width: 30px;
    
}
.border-abilitie{
    border-right: 3px solid;

}
#file_upload {
    display: none;
}

#enemies {
    margin-top: 1%;
}

#file_uploadEnemie {
    display: none;
}

.modal-party {
    display: none;
    justify-content: center;
    z-index: 9999;
    position: absolute;
    right: 0;
    left: 0;
    top:30%;
 
}

.modal-out {
    background-image: url(../media/img/Grungy-Paper-Texture-3.jpg);
    background-size: cover;
    width: 300px;
    height: 225px;
    border-radius: 10px;
    box-shadow: 0 0 0 99999px rgba(0,0,0,.8);
}

.modal-in {
    padding: 1.2rem;
    font-weight: bolder;
}

.center-h2{
display: flex;
justify-content: center;
padding: 1%;
border-bottom: 5px double;
margin-bottom: 25%;

}

.url{
    display: flex;
    justify-content: space-between;
 
}

.url input{
   width: 100%;
   margin-left: 2%;
   height: 15px;

border: none;
}
.modal-in i:hover {
    filter: contrast(2);
}

.btns-modal{
    padding: 1%;
    border-top: 5px double;
    margin-top:25%;
    display:flex;
    justify-content: space-between;
}

.cardEnemie{
    width: 400px;
}

.cardEnemie span{
    width: 80%;
}


#dices{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top:2rem;
}
#dices h2{
    font-size: 2.5rem;

}
.title-with-i {
    display: flex;
    justify-items: center;
    font-weight: bolder;
    margin-bottom: 1em;
} 
.icon{
    margin: 0.5rem;
    font-size: 150%;
    
}

#dice-card-outside{
margin-top:2rem;
width:500px;
height: 400px;
background-image: url(../media/img/photo-1568535904307-f48b760a39f3.jfif);
border-radius: 40px;
padding: 1%;
}

#dice-card-inside{

color: white;
display: flex;
justify-content: center;
flex-direction: column;
font-size:2rem;
}


.dice-options{
    margin-top: 1em;
    display: flex;
    justify-content: center;

}
.dice-options i{
    margin-left: 5%;
}
.dice-options i:hover{
    filter: invert(1);
}
.dice-result{
    margin-top: 0.8em;
    display: flex;
    justify-content: center;
    font-size: 4rem;
}
 #btn-dice{
     display: flex;
     justify-content: center;
    border: 2px solid;
    width: 100px;
    background-color: white;
    color: black;
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
    /* cursor: default; */
 }
 #btn-dice:hover{
   transform: scale(1.2);
 }
