.App {

  display: flex;
  flex-direction: column;
  justify-content: center;
}
::-webkit-scrollbar{
  width: 0px;
}

html {
  background-color: #282c34;
  position: relative;
  box-sizing: border-box;
}

.content{
  height: 2000px;
}





